In [30]:
import pandas as pd
import sklearn.model_selection as skl
import numpy as np

ML_DATASET = "learning_vectors01.csv"

data = pd.read_csv(ML_DATASET)

list(data.columns.values)

['Match_id',
 'League_id',
 'Season',
 'Stage',
 'Date',
 'H_team',
 'A_team',
 'Result',
 'B365H',
 'B365D',
 'B365A',
 'H_Speed',
 'H_Pass',
 'H_Shoot',
 'H_Pressure',
 'H_chPass',
 'H_chCross',
 'H_dAggr',
 'H_dWidth',
 'A_Speed',
 'A_Pass',
 'A_Shoot',
 'A_Pressure',
 'A_chPass',
 'A_chCross',
 'A_dAggr',
 'A_dWidth',
 'H_age',
 'A_age',
 'H_TMV',
 'A_TMV']

In [31]:

names = ['H_Speed','H_Pass', 'H_Shoot', 'H_Pressure', 'H_chPass', 'H_chCross', 'H_dAggr', 'H_dWidth', 'A_Speed', 'A_Pass', 'A_Shoot', 'A_Pressure', 'A_chPass', 'A_chCross', 'A_dAggr', 'A_dWidth', 'H_age', 'A_age']

for name in names:
    data[name] = data[name] / 10

In [18]:
data.head()

,Match_id,League_id,Season,Stage,Date,H_team,A_team,Result,B365H,B365D,...,A_Shoot,A_Pressure,A_chPass,A_chCross,A_dAggr,A_dWidth,H_age,A_age,H_TMV,A_TMV
0,1730,1729,2008/2009,1,2008-08-16,Arsenal,West Bromwich Albion,0,1.20,6.5,...,5.5,7.0,7.0,7.0,7.0,7.0,2.13,2.46,250.0,64.0
1,1731,1729,2008/2009,1,2008-08-16,Sunderland,Liverpool,2,5.50,3.6,...,7.0,4.0,5.0,6.0,6.0,4.0,2.49,2.39,91.0,257.0
2,1732,1729,2008/2009,1,2008-08-16,West Ham United,Wigan Athletic,0,1.91,3.4,...,5.0,3.5,7.0,7.0,7.0,3.5,2.43,2.57,80.0,61.0
3,1734,1729,2008/2009,1,2008-08-16,Everton,Blackburn Rovers,2,2.00,3.3,...,5.5,4.5,6.0,7.0,7.0,4.5,2.44,2.64,162.0,86.0
4,1735,1729,2008/2009,1,2008-08-16,Middlesbrough,Tottenham Hotspur,0,3.20,3.4,...,5.0,5.0,5.0,6.5,5.0,5.0,2.23,2.25,73.0,212.0

In [32]:
names2 = ['H_TMV','A_TMV']

for name in names2:
    data[name] = data[name] / 100
    
data.iloc[2]

Match_id                 1732
League_id                1729
Season              2008/2009
Stage                       1
Date               2008-08-16
H_team        West Ham United
A_team         Wigan Athletic
Result                      0
B365H                    1.91
B365D                     3.4
B365A                     4.2
H_Speed                   5.8
H_Pass                      3
H_Shoot                     5
H_Pressure                  3
H_chPass                  3.1
H_chCross                   7
H_dAggr                     7
H_dWidth                    3
A_Speed                     7
A_Pass                      7
A_Shoot                     5
A_Pressure                3.5
A_chPass                    7
A_chCross                   7
A_dAggr                     7
A_dWidth                  3.5
H_age                    2.43
A_age                    2.57
H_TMV                     0.8
A_TMV                    0.61
Name: 2, dtype: object

In [33]:
names3 = ['League_id']

for name in names3:
    data[name] = data[name] / 1000
    
data.head()

,Match_id,League_id,Season,Stage,Date,H_team,A_team,Result,B365H,B365D,...,A_Shoot,A_Pressure,A_chPass,A_chCross,A_dAggr,A_dWidth,H_age,A_age,H_TMV,A_TMV
0,1730,1.729,2008/2009,1,2008-08-16,Arsenal,West Bromwich Albion,0,1.20,6.5,...,5.5,7.0,7.0,7.0,7.0,7.0,2.13,2.46,2.50,0.64
1,1731,1.729,2008/2009,1,2008-08-16,Sunderland,Liverpool,2,5.50,3.6,...,7.0,4.0,5.0,6.0,6.0,4.0,2.49,2.39,0.91,2.57
2,1732,1.729,2008/2009,1,2008-08-16,West Ham United,Wigan Athletic,0,1.91,3.4,...,5.0,3.5,7.0,7.0,7.0,3.5,2.43,2.57,0.80,0.61
3,1734,1.729,2008/2009,1,2008-08-16,Everton,Blackburn Rovers,2,2.00,3.3,...,5.5,4.5,6.0,7.0,7.0,4.5,2.44,2.64,1.62,0.86
4,1735,1.729,2008/2009,1,2008-08-16,Middlesbrough,Tottenham Hotspur,0,3.20,3.4,...,5.0,5.0,5.0,6.5,5.0,5.0,2.23,2.25,0.73,2.12

In [34]:
data.to_csv("learning_vectors03.csv")